@model OmegaProject.Models.Employee

@{
    ViewData["Title"] = "Nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Nhân viên</h4>
        <a asp-action="Index">Trở lại danh sách</a>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="EmpId" />
        <div class="form-group">
            <label class="col-md-2 control-label">Mã nhân viên</label>
            <div class="col-md-10">
                <input asp-for="EmpNo" class="form-control" />
                <span asp-validation-for="EmpNo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Tên nhân viên</label>
            <div class="col-md-10">
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Số điện thoại</label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Skype</label>
            <div class="col-md-10">
                <input asp-for="Skype" class="form-control" />
                <span asp-validation-for="Skype" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="EmpGender" />
                    <label>Nam</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="EmpDisabled" />
                    <label>Không hiển thị</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Phòng ban</label>
            <div class="col-md-10">
                <select asp-for="DepId" class="form-control" asp-items="ViewBag.DepId"></select>
                <span asp-validation-for="DepId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Trạng thái</label>
            <div class="col-md-10">
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Chức vụ</label>
            <div class="col-md-10">
                <select asp-for="DutyId" class="form-control" asp-items="ViewBag.DutyId"></select>
                <span asp-validation-for="DutyId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh</label>
            <div class="col-md-10">
                <select asp-for="PhotoId" class="form-control" asp-items="ViewBag.PhotoId"></select>
                <span asp-validation-for="PhotoId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


