@model BuildingManage.Room

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Room</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class ="form-control" asp-items="ViewBag.Type"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Capacity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Floor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Floor" class="form-control">
                    <option value="1">  1  </option>
                    <option value="2">  2  </option>
                    <option value="3">  3  </option>
                </select>
            </div>
        </div> 
        <div class="form-group">
            <label asp-for="Prices" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prices" class="form-control" />
                <span asp-validation-for="Prices" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MetaTiTle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MetaTiTle" class="form-control" />
                <span asp-validation-for="MetaTiTle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
